yacs
opencv-python
PyYAML
cython-bbox
scipy
progress
motmetrics
matplotlib
git+https://github.com/gatagat/lap@master
openpyxl
Pillow
tensorboardX
fvcore
-e git+https://github.com/lucasjinreal/DCNv2_latest@master#egg=dcnv2